@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
	padding=0;
	margin=0;
	box-sizing: border-box;
}
body{
	background-color: black;
	overflow-x: hidden;
}
.container{
	width: 1280px;
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.container .box{
	position: relative;
	width: 300px;
	height: 300px;
	background: #ff0;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}
.container .box .imgBox {
	position: relative;
	overflow: hidden;
}
.container .box .imgBox img{
	max-width: 100%;
	transition: transform 2s;
}
.container .box:hover .imgBox img{
	transform: scale(1.2);
}
.container .box .details{
	position: absolute;
	top:10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: rgba(0,0,0,0.8);
	transform: scaleY(0);
	transition: transform 0.5s;
}
.container .box:hover .details{
	transform: scaleY(1);
}
.container .box .details .content{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
}
.container .box .details .content h2{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color:#ff0;

}
.container .box .details .content p{
	margin: 10px 0 0;
	padding: 0;
}
#Back{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
    color:#2196f3;
	display: block;
	width:13%;
	position: absolute;
	top:750px;
	left:1100px; 
    text-align: center;
    padding: 5px 20px;
    background:white;
    text-decoration: none;
    transition: 0.2s;
}
#Back:hover{
	color:#255784;
	background:#2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3; 
}
@media(max-width: 700px) {
	.container{
	width: 580px;
	margin: 10px auto 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: absolute;
	left: 10px;
}
.container .box{
	width: 600px;
	height: 600px;

}
#Back{
	position: absolute;
	top:5900px;
	left: 650px;
	width: 32%;
	font-size: 40px;
}
.container .box .details .content h2{
	font-size: 50px;
}
.container .box .details .content p{
	font-size: 40px;
}
}
@media(max-width: 400px){
	.container{
		position: absolute;
		left:260px;
	}
	#Back{
		width: 44%;
		position: absolute;
		left: 600px;
	}
}
@media(max-width: 300px){
	.container{
		position: absolute;
		left:130px;
	}
	#Back{
		width: 52%;
		position: absolute;
		left: 560px;
	}
}
@media(max-width: 250px){
	.container{
		position: absolute;
		left:10px;
	}
	#Back{
		width: 60%;
	}
}